<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Question</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.1.3/unsemantic-grid-responsive.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" rel="stylesheet" type="text/css">
  <link href="./main.css" rel="stylesheet" type="text/css">

</head>
<body style="font-family: Helvetica Neue, Helvetica, Arial; background-color:#FAFAFA;">
  <div class="grid-container" style="max-width:900px">
    <div class="grid-100 do-section-clear">
      <span style="color:grey;font-size: 2.5em;"><b>democracy</b>.online</span>
    </div><!-- THE QUESTION -->
    <div class="grid-100">
      <div class="grid-100">
        <span style="font-size: 1.2em; margin-bottom: 0.8em;"><span style="border-bottom: 5px solid #d70000;">VIEW QUESTION</span></span> <small style="float:right; color:grey; font-size:0.8em;">suggest edit</small>
      </div>
      <div class="do-sub-section-clear"></div>
      <div class="grid-100 grid-parent" style="background-color:white; padding: 0.5em; font-size:1.2em; font-weight:500; margin-bottom: 0.8em;">
        <div class="grid-5 mobile-grid-10 grid-parent">
          <div class="grid-100 grid-parent triangle"></div><span style="font-size:0.6em">55</span>
          <div class="grid-100 grid-parent triangle-down"></div>
        </div>
        <div class="grid-95 mobile-grid-90 grid-parent">
          <div>This is the question of the day and it is meant to have some relevance in your life or whatever you think is important. Do you think this question is worth some of your undivided attention?</div>
          <div class="do-item-clear"></div>
          <div>
            <small style="font-size: 0.6em">6 hours ago</small>
            |
            <small class="do-hyperlink" style="font-size: 0.6em">Karthik Vaidyanathan, Aiman Ashraf, John Mayer, +7 others</small>
          </div>          
        </div>  
      </div>
    </div><!-- THE ANSWERS -->
    <div class="grid-100 do-sub-section-clear">
      <div class="grid-100 do-sub-section-clear">
        <span>Options:</span>
      </div>
      <!-- Options -->
      <div class="grid-100 do-options-outer">
        <!-- Options -->
        <input class="do-options-radio" name="gahigah" type="radio" value="chut4"> <span class="do-options-radio-text">This is option 1</span>
      </div><!-- Options -->
      <div class="grid-100 do-options-outer">
        <!-- Options -->
        <input class="do-options-radio" name="gahigah" type="radio" value="chut4"> <span class="do-options-radio-text">This is option 1</span>
      </div><!-- Options -->
      <div class="grid-100 do-options-outer do-sub-section-clear" style="display:table;">
        <!-- Options -->
        <label style="display:table-cell;vertical-align:middle;"><input class="do-options-radio" name="gahigah" type="radio" value="chut4"></label> <span class="do-options-radio-text">This is option 1 This is option 1 This is option 1 This is option 1 This is option 1 This is option 1 This is option 1</span>
      </div>
    </div>

    <div class="grid-100">
      <div class="grid-100" style=" margin-bottom:.8em;">
        <span>References:</span> <small style="float:right; color:grey; font-size:1em;">add +</small>
      </div><!-- ONE REFERENCE -->
      <div class="grid-100" style="background-color:white;">
        <div class="grid-5 mobile-grid-10 grid-parent">
          <div class="grid-100 grid-parent triangle"></div><span style="font-size:0.6em">55</span>
          <div class="grid-100 grid-parent triangle-down"></div>
        </div>
        <div class="grid-95 mobile-grid-90 grid-parent">
          <div class="do-margin-reference">
            <span class="do-font-reference">Read this and my point is proven</span>
          </div>
          <div class="do-margin-reference">
            <a class="do-font-reference do-hyperlink" href="https://www.w3schools.com/cssref/pr_text_text.asp">https://www.w3schools.com/cssref/pr_text_text.asp</a>
          </div>
          <div class="do-margin-reference">
            <span class="do-font-reference">3 hours ago | Aiman Ashraf</span>
          </div>
        </div>
      </div>
      <div class="do-item-clear">
        &nbsp;
      </div><!-- ONE REFERENCE -->
      <div class="grid-100" style="background-color:white;">
        <div class="grid-5 mobile-grid-10 grid-parent">
          <div class="grid-100 grid-parent triangle"></div><span style="font-size:0.6em">55</span>
          <div class="grid-100 grid-parent triangle-down"></div>
        </div>
        <div class="grid-95 mobile-grid-80 grid-parent">
          <div class="do-margin-reference">
            <span class="do-font-reference">Read this and my point is proven</span>
          </div>
          <div class="do-margin-reference">
            <a class="do-font-reference do-hyperlink" href="https://www.w3schools.com/cssref/pr_text_text.asp">https://www.w3schools.com/cssref/pr_text_text.asp</a>
          </div>
          <div class="do-margin-reference">
            <span class="do-font-reference">3 hours ago | Aiman Ashraf</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>